#country-col, #paper-col, #delegation-col {
    height:700px;
    overflow: scroll;
    border: 2px solid lightgrey;
    border-radius: 10px;
}


#country-col > a {
    text-decoration: none;
    color: black;
}

#country-col > a > .row.country {
    padding: 10px;
}

#country-col > a > .row.country:hover {
    background-color: lightgreen;
}

#delegation-name {
    text-align: center;
}

#scoring-sheet > tr > td, th {
    padding: 10px;
    text-align: center;
}

#paper-score{
    color: red;
}