#wp-sponsor-list, #wp-signatory-list {
    height: 180px;
}

#reso-sponsor-list, #reso-signatory-list {
    height: 180px;
}

form > div.row {
    margin-bottom: 20px;
}

#score-part-table > tr > td, th {
    padding: 10px;
    text-align: center;
}