h1 {
    color: #00693e;
    text-align: center;
}

#body {
    height: 800px;
}

#navbar {
    background-color: #00693e;
    color: whitesmoke;
}

table > tbody > tr > td, th {
  margin: 0px 20px;
  padding: 0px 20px;
  text-align: center;
}

form {
    margin-bottom: 48px;
}

p {
  text-align: center;
}