h1 {
    color: #00693e;
    text-align: center;
}

#body {
    height: 840px;
}

#navbar {
    background-color: #00693e;
    color: whitesmoke;
}

table > tbody > tr > td, th {
  margin: 0px 20px;
  padding: 0px 20px;
  text-align: center;
}