{% extends "./layout.html" %}

{%  block title %}
    Grades
{%  endblock %}

{% load static %}
{%  block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'dartmun/css/grades.css' %}">
{%  endblock %}

{%  block body %}
    <h2>{{committee.name}}</h2>
    <h3>Grades</h3>
    <table>
        <tr>
            <th id="del-header">Delegation</th>
            {% for category in committee.grades.tally_categories.all %}
                <th>{{ category.category.name }}</th>
            {% endfor %}
            <th>Total</th>
        </tr>
        <tr>
            <th>Average</th>
            {% for category in committee.grades.tally_categories.all %}
                <th>{{ category.scaled_average }}</th>
            {% endfor %}
            <th>{{ committee.grades.committee_average }}</th>
        </tr>
        {% for score_manager in score_managers %}
            <tr>
                <td class="del-cell">{{ score_manager.delegation.country.name }}</td>
                {% for category in score_manager.tally_category_scores.all %}
                    <td>{{ category.scaled_score }}</td>
                {% endfor %}
                <td>{{ score_manager.score }}</td>
            </tr>
        {% endfor %}
    </table>
{%  endblock %}

{%  block scripts %}

{%  endblock %}