{% extends "./layout.html" %}

{%  block title %}
    {{ conference.acronym }}
{%  endblock %}

{%  block css %}

{%  endblock %}

{%  block body %}
    <h1>Welcome to {{ conference.name }}!</h1>
    <i>Welcome to DartMUN! We are an annual Model United Nations conference held on the beautiful Ivy League campus of Dartmouth College hosted in April.
    Each year we lead hundreds of high school delegates in rousing debate on international politics, humanitarian causes and more.</i><br><br>

    <h3>Conference Sessions</h3>
    <table>
        <tr>
            <th>#</th>
            <th>Start Time</th>
            <th>End Time</th>
        </tr>
        {% for session in conference.sessions.all %}
            {% if session.number %}
                <tr>
                    <th>{{ session.number }}</th>
                    <td>{{ session.start_time }}</td>
                    <td>{{ session.end_time }}</td>
                </tr>
            {% endif %}
        {% endfor %}
        {% if request.user.username %}
            <tr>
                <td colspan="3">
                    <a href="{% url 'add_calendar_entries' %}">
                        <button class="btn btn-primary" style="width:100%" onclick="alert('Events added to your calendar!')">Add Calendar Entries</button>
                    </a>
                </td>
            </tr>
        {% endif %}
    </table><br>

    <h3>About the Website</h3>
    <a href="{% url 'bio' %}">
        <button class="btn btn-primary">Click here to read about the website/developer!</button>
    </a>
{%  endblock %}

{%  block scripts %}

{%  endblock %}