{% extends "./layout.html" %}

{%  block title %}
    Position Papers
{%  endblock %}

{% load static %}
{%  block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'dartmun/css/pospapers.css' %}">
{%  endblock %}

{%  block body %}
    {% if request.user.is_staff %}
        <h2>{{committee.name}}</h2>
    {% else %}
        <h2>{{request.user.get_full_name}}</h2>
    {% endif %}
    <h3>Position Papers</h3>
    <div class="row">
        <div class="col-4" id="country-col">
            {% for delegation in all_delegations %}
                <a href="{% url 'delegation_papers' delegation.id %}">
                    <div class="row country">
                    {{ delegation.country.name }}
                    </div>
                </a>
            {% endfor %}
        </div>
        <div class="col-8" id="paper-col">
            {% if delegation %}
                <h2 id="delegation-name">{{ delegation.country.name }}</h2>

                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    {% for paper in papers %}
                        <li class="nav-item active">
                        {% if forloop.first %}
                            <a class="nav-link active" id="paper{{paper.id}}-tab" data-toggle="tab" href="#paper{{ paper.id }}" role="tab" aria-controls="paper{{ paper.id }}" aria-selected="false">
                        {% else %}
                            <a class="nav-link" id="paper{{paper.id}}-tab" data-toggle="tab" href="#paper{{paper.id}}" role="tab" aria-controls="paper{{ paper.id }}" aria-selected="false">
                        {% endif %}
                            {{ paper.rubric.topic }}
                            </a>
                        </li>

                    {% endfor %}
                </ul>
                <div class="tab-content" id="myTabContent">
                     {% for paper in papers %}
                         {% if forloop.first %}
                            <div class="tab-pane fade active show" id="paper{{ paper.id }}"
                                 role="tabpanel" aria-labelledby="paper{{ paper.id }}-tab">
                         {% else %}
                             <div class="tab-pane fade" id="paper{{ paper.id }}"
                                 role="tabpanel" aria-labelledby="paper{{ paper.id }}-tab">
                         {% endif %}
                         <form action="{% url 'update_paper' paper.id %}" method="POST">
                            {% csrf_token %}
                            <table id="scoring-sheet">
                                <tr>
                                    <th>Category</th>
                                    <th>Descriptor</th>
                                </tr>
                                {% for criterion in paper.rubric.criterion_scores.all %}
                                    {{ criterion.id }}
                                    <tr>
                                        <th>{{ criterion.criterion }}</th>
                                        <td>
                                            <input type="hidden" value="{{ criterion.descriptor.points }}" class="points">
                                            <select class="form-control" name="criterion{{ criterion.id }}">
                                                <option></option>
                                                {% for descriptor in criterion.criterion.possible_scores.all %}
                                                    {% if criterion.descriptor == descriptor %}
                                                        <option selected value="{{ descriptor.points }}"> {{ descriptor }}</option>
                                                    {% else %}
                                                        <option value="{{ descriptor.points }}"> {{ descriptor }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </td>
                                    </tr>
                                {% endfor %}
                                <tr>
                                    <th><h4>Total</h4></th>
                                    <th><h4><span id="paper-score">{{ paper.score }}</span>/{{ paper.rubric.rubric.max_possible }}</h4></th>
                                </tr>
                                <tr>
                                    <th>Comments</th>
                                    <td><input type="text" name="comments" class="form-control" value="{{ paper.comments }}"></td>
                                </tr>
                            </table>
                            <button type="submit" class="btn btn-primary form-control">Update</button>
                         </form>
                         </div>
                     {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
{%  endblock %}

{%  block scripts %}
    <script src="{% static 'dartmun/js/pospapers.js' %}"></script>
{%  endblock %}