{% extends "./layout.html" %}

{%  block title %}
    Secretariat
{%  endblock %}

{%  block css %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'dartmun/css/tallies.css' %}">
{%  endblock %}

{%  block body %}
    <h2>Secretariat</h2>
    {% for member in secretariat %}
        <h3>{{ member.user.get_full_name }}</h3>
        <h4>{{ member.position }}</h4>
        <text>{{ member.bio }}</text><br><br>
    {% endfor %}
{%  endblock %}

{%  block scripts %}

{%  endblock %}