{% extends "./layout.html" %}

{%  block title %}
    Tallies
{%  endblock %}

{%  block css %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'dartmun/css/tallies.css' %}">
{%  endblock %}

{%  block body %}
    <h2>{{committee.name}}</h2>
    <h3>Tallies</h3>
    {% if committee.grades.tallies.all %}
        <table>
            <tr>
    {#            <th>Timestamp</th>#}
    {#            <th>Scorer</th>#}
                <th>Delegation</th>
                <th>Category</th>
                <th>Score</th>
                <th>Comments</th>
                <th>Delete</th>
            </tr>
            {% for tally in committee.grades.tallies.all %}
                <tr>
    {#                <td>{{ tally.timestamp }}</td>#}
    {#                <td>{{ tally.scorer }}</td>#}
                    <td>{{ tally.delegation.country.name }}</td>
                    <td>{{ tally.category.name }}</td>
                    <td>{{ tally.score }}</td>
                    <td>{{ tally.comments }}</td>
                    <td>
                        <a href="{% url 'remove_tally' tally.id %}"><button class="btn btn-danger">
                            X
                        </button></a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% elif committee.parli_pro.open %}
        <h4>No tallies yet!</h4>
    {% else %}
        <h4>Open debate to start tallying!</h4>
    {% endif %}
{%  endblock %}

{%  block scripts %}

{%  endblock %}